*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

html {
  font-size: calc(clamp(1600px, 100vw, 1920px) / (1920 / 16));
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: SegoeUi, Inter, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  white-space: pre-line;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --global-color-primary: #e29d75;
  --global-color-hover: #c27c3c;
  --global-color-secondary: #fea03338;
  --global-color-paragraph: #f4e9de;
  --global-color-unavailable: #ffd8aa;
  --global-color-dark: #745454;
  --global-color-disable: #f9c4a6;
}

.global-important-text {
  font-size: 1.1em;
}
