@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap");

@font-face {
  font-family: BlockHeadSide;
  src: local("BlockHead"), url(@/assets/fonts/blockhead-darkside-regular.otf);
}
@font-face {
  font-family: BlockHeadFace;
  src: local("BlockHead"), url(@/assets/fonts/blockhead-blackface-regular.ttf);
}
@font-face {
  font-family: BlockHeadUnplugged;
  src: local("BlockHead"), url(@/assets/fonts/blockhead-unplugged-regular.otf);
}
