:root {
  --text-medium: 16px;
  --text-large: 20px;
  --text-extra-large: 32px;
}

@media screen and (min-width: 1800px) {
  :root {
    --text-medium: 24px;
    --text-large: 30px;
    --text-extra-large: 45px;
  }
}

@media screen and (min-width: 2500px) {
  :root {
    --text-medium: 30px;
    --text-large: 32px;
    --text-extra-large: 60px;
  }
}


@media screen and (min-width: 3800px) {
  :root {
    --text-medium: 42px;
    --text-large: 55px;
    --text-extra-large: 80px;
  }
}
